.hero-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
		url(../img/696.jpg);
	background-color: #ffffff;
	background-size: 2000px;
}

.hero-bg-project {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
		url(../img/backgroundProject.jpg);
	background-color: #ffffff;
	background-size: 2000px;
}

.hero-bg-3d {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
		url(../img/background3d.jpg);
	background-color: #ffffff;
	background-size: 2000px;
}

.logo img {
	max-width: 200px;
}

.hero-infos {
	text-align: center;
}

.border-left-yellowonhover:hover {
	border-left: 0.25rem solid #f5bf69 !important;
	transition-duration: 0.3s;
}

.waves {
	position: absolute;
	bottom: -5px;
	right: 0;
	width: 100%;
	overflow: hidden;
}

.hero-infos .title {
	font-weight: 700;
	font-size: 50px;
	line-height: 110%;
	color: #fff;
}

.subtitle {
	font-weight: 700;
}

.lettre {
	font-size: 40px;
}

.hero-infos .smalltitle {
	font-weight: 700;
	font-size: 32px;
	line-height: 110%;
	color: #fff;
}

.hero-row {
	min-height: 6rem;
}

.hero-titlerow {
	min-height: 10rem;
}
.hero-subtitlerow {
	min-height: 10rem;
}

.hero-infos .description {
	font-size: 20px;
	line-height: 110%;
	color: #fff;
	margin-top: 40px;
}

.button {
	cursor: pointer;
	font-weight: 500;
	transition-property: background-color, color, box-shadow, mix-blend-mode;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border: none;
}

.buttonLarge {
	line-height: 24px;
	border-radius: 28px;
	font-size: 20px;
}

.buttonSmall {
	border-radius: 28px;
	font-size: 16px;
	line-height: 22px;
}

.buttonWhite {
	background-color: #fff;
	color: #23272a;
}

.buttonJoin {
	margin-top: 24px;
}

.paddingWave {
	padding-bottom: 150px;
}

.buttonWhite:hover {
	color: #f5bf69;
}

.buttonIcon {
	margin-right: 16px;
}

.buttonSmallIcon {
	margin-right: 8px;
}

.fit-picture {
	width: 100%;
}

.img-verysmall {
	width: 12rem;
}

.small-img {
	max-height: 15rem;
}
